body.modal-open{
	overflow: hidden !important;
}

.modal-holder{
	position: fixed;
	top: -9999px;
	left: -9999px;
	right: 9999px;
	bottom: 9999px;
	opacity: 0;
	width: 100%;
	height: 100vh;
	z-index: 2500;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: flex-start;
	transition: all 0s ease .35s, opacity .35s ease;
	&.open{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 1;
		transition: opacity .35s ease;
		.bg{
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: .5;
			transition: opacity .35s ease;
		}
		.modal{
			opacity: 1;
			transform: translateY(0);
		}
	}
	body.static-modal-page &.static-modal{
		height: auto;
		position: static;
	}
	.bg{
		opacity: 0;
		z-index: -10;
		top: -9999px;
		left: -9999px;
		right: 9999px;
		bottom: 9999px;
		position: fixed;
		background: #000;
		transition: all 0s ease .35s, opacity .35s ease;
	}
	.modal-inner{
		width: 100%;
		z-index: 100;
		padding: 20px 0;
		max-height: 100%;
		overflow-y: auto;
		position: relative;
		overflow-x: hidden;
		-webkit-overflow-scrolling:touch;
	}
	.close-icon{
		top: -19px;
		right: -18px;
		width: 38px;
		height: 38px;
		z-index: 250;
		cursor: pointer;
		font-style: normal;
		position: absolute;
		border-radius: 50%;
		background: $main-color;
		transition: all .35s ease;
		@include breakpoint($desktop) {
			top: 15px;
			right: 15px;
			width: 26px;
			height: 26px;
		}
		&:hover{
			background: darken($main-color,10);
		}
		&:after, &:before{
			top: 50%;
			left: 50%;
			content: '';
			height: 2px;
			width: 24px;
			background: #fff;
			position: absolute;
			margin: -1px 0 0 -12px;
			transition: all .35s ease;
			@include breakpoint($desktop) {
				width: 18px;
				margin-left: -9px;
			}
		}
		&:after{
			transform: rotate(45deg);
		}
		&:before{
			transform: rotate(-45deg);
		}
	}
}

.modal{
	opacity: 0;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	max-width: 1059px;
	position: relative;
	border-radius: 8px;
	padding: 20px 15px 10px;
	transform-origin: 50% 0%;
	transform: translateY(-100%);
	transition: opacity .35s ease, transform .35s ease;
	.h2{
		display: block;
		font-size: 24px;
		margin: 0 0 8px;
		text-align: left;
		line-height: 1.2;
		font-weight: bold;
	}
}

.games-modal{
	.games-list{
		 li{
		 	width: 12.5%;
		 	@include breakpoint($mobile) {
		 		width: 25%;
		 	}
		 	@include breakpoint($mobile-small) {
		 		width: 33.3%;
		 	}
		 }
	}
}