{% load i18n static thumbnail  cache %}
<ul class="nav-list">
    {% for cat in objects %}
        <li class="hide-on-t"><a href="{{ scheme }}://{{ request.get_host }}{{ cat.get_absolute_url }}">{{ cat.text_link }}</a></li>
    {% endfor %}
    <li class="more show-on-t">
        <i class="icon-burger"><span></span></i>
        <div class="drop">
            <div class="h2">{% trans 'TOP CATEGORIES' %}</div>
            <ul class="nav-categories-list">
                {% for cat in objects %}
                    <li>
                        <a href="{{ scheme }}://{{ request.get_host }}{{ cat.get_absolute_url }}">
                            {% if cat.image %}
                                {% thumbnail cat.image "48x51" crop="center" upscale=0 as im %}
                                    <span class="visual"><img data-src="{{ im.url }}" alt="{{ obj }}" class="lazy"></span>
                                {% endthumbnail %}
                            {% endif %}
                            {#                            <span class="text">{{ cat.text_link|default:cat }} ({{ cat.total_games }})</span>#}
                            <span class="text">{{ cat.text_link|default:cat }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% for block in block_vertical %}
                <strong class="h2">{% if block.link %}<a href="{{ block.get_absolute_url }}">{% endif %}{{ block.name }}{% if block.link %}</a>{% endif %}</strong>
                <ul class="games-group-list">
                    {% for item in block.items.all %}
                        <li>
                            <a href="{{ item.tag.get_absolute_url }}" title="{{ item.tag.title }}">
                                {% if item.tag.image %}
                                    {% thumbnail item.tag.image "70x70" crop="center" upscale=0 as im %}
                                        <img data-src="{{ im.url }}" alt="{{ item.tag.alt }}" class="lazy">
                                    {% endthumbnail %}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            {% for block in block_horizontal %}
                <strong class="h2">{% if block.link %}<a href="{{ block.get_absolute_url }}">{% endif %}{{ block.name }}{% if block.link %}</a>{% endif %}</strong>
                <ul class="games-group-list">
                    {% for item in block.items.all %}
                        <li>
                            <a href="{{ item.tag.get_absolute_url }}" title="{{ item.tag.title }}">
                                {% if item.tag.image %}
                                    {% thumbnail item.tag.image "70x70" crop="center" upscale=0 as im %}
                                        <img data-src="{{ im.url }}" alt="{{ item.tag.alt }}" class="lazy">
                                    {% endthumbnail %}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </li>
</ul>

