// breakpoints
$mobile-small: 480px; // mobile 480px and less
$mobile: 767px; // mobile 767px and less
$tablet: 1023px; // tablet 991px and less
$desktop: 1100px; // small desktop 1110px and less

// breakpoints mixin
@mixin breakpoint($rule){
  @media only screen and (max-width: #{$rule}){
   @content;
  }
}
@mixin rem($rule){
  @media only screen and (min-width: #{$rule + 1}){
   @content;
  }
}

// breakpoints mixin usage
// selector{
//   height:100px;
//   @include breakpoint($tablet){
//     height:50px;
//   }
// }

@function url-friendly-colour($colour) {
  @return '%23' + str-slice('#{$colour}', 2, -1)
};


// clearfix
%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

// reset for list
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

//delete inline-block indent
%dibindent {
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
}

// full width
%full-width {
  padding-left: 9999px;
  padding-right: 9999px;
  margin-left: -9999px;
  margin-right: -9999px;
}

// hide text
@mixin hide-text {
  overflow: hidden;
  text-indent: -9999px;
}

// placeholder
@mixin placeholder($color) {
  ::-webkit-input-placeholder {color:$color;}
  ::-moz-placeholder {opacity: 1; color:$color;}
  :-moz-placeholder {color:$color;}
  :-ms-input-placeholder {color:$color;}
  .placeholder {color:$color;}
}

// retina images
@mixin img-retina($image, $extension, $width, $height) {
  background: url('../images/' + $image + '.' + $extension) no-repeat;
  width: $width;
  height: $height;

  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {    
    background-image: url('../images/' + $image + '@2x' + '.' + $extension);
    background-size: $width $height;
  }
}

@mixin v-align($m-height: 0, $valign: middle){
  white-space:nowrap;
  &:after{
    content:'';
    vertical-align:$valign;
    display:inline-block;
    min-height: $m-height;
  }
}

// from http://codepen.io/MichaelArestad/pen/IxFGj 
@mixin arrow-lazy($al-direction: top, $al-size: 10px, $al-color: #ccc, $al-center: 50%, $al-margin: -1px, $al-pseudo: before){
  position: relative;
  border-color: $al-color;

  &:#{$al-pseudo} {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 0;
    border-color: $al-color;

    @if $al-direction == "right" {
      top: $al-center;
      left: 100%;
      margin-left: $al-margin;
      margin-top: $al-size * -1;
      border-top: $al-size solid transparent;
      border-bottom: $al-size solid transparent;
      border-left: $al-size solid $al-color;
      border-left-color: inherit;
    } @else if $al-direction == "down" {
      top: 100%;
      left: $al-center;
      margin-top: $al-margin;
      margin-left: $al-size * -1;
      border-left: $al-size solid transparent;
      border-right: $al-size solid transparent;
      border-top: $al-size solid $al-color;
      border-top-color: inherit;
    } @else if $al-direction == "left" {
      top: $al-center;
      right: 100%;
      margin-right: $al-margin;
      margin-top: $al-size * -1;
      border-top: $al-size solid transparent;
      border-bottom: $al-size solid transparent; 
      border-right:$al-size solid $al-color;
      border-right-color: inherit;
    } @else {
      bottom: 100%;
      left: $al-center;
      margin-bottom: $al-margin;
      margin-left: $al-size * -1;
      border-left: $al-size solid transparent;
      border-right: $al-size solid transparent;
      border-bottom: $al-size solid $al-color;
      border-bottom-color: inherit;
    }
  }
}